.zoomWrapper {
    /* border: 2px solid red; */
    overflow: hidden;
    /* opacity: 20%; */
    /* background-color: aqua; */
    background-position: 50%50%;
    background-size: 200%;  
    /* width: 650px; */
    /* position: absolute; */
    cursor: zoom-in; 
}

.zoomWrapper:hover img {
    opacity: 0;
}

.zoomWrapper img {
    transition: opacity 0.5s;
}

.zoomWrapper:hover {
    /* border: 5px solid green; */
    opacity: 100%;
}